@model SportsAdministrationApp.ViewModels.RoleManagerViewModel
<html>
<head>
    <title>Manage Roles</title>
</head>
<body>
    <div class="row">
        @foreach (var role in Model.Roles)
        {
            <div class="card m-3" style="width: 400px;">
                <div class="card-header">
                    <h3>@role.Name</h3>
                </div>
                <div class="card-body" text-center>
                    <a asp-controller="administration" asp-action="details" asp-route-id="@role.Name" class="btn btn-primary">View</a>
                    <a asp-controller="administration" asp-action="edit" asp-route-id="@role.Name" class="btn btn-primary">Edit</a>

                    <form method="post" asp-action="Delete" asp-route-id="@role.Name">

                        <span id="confirmDeleteSpan_@role.Name" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary"
                               onclick="confirmDelete('@role.Name', false)">No</a>
                        </span>

                        <span id="deleteSpan_@role.Name">
                            <a href="#" class="btn btn-danger"
                               onclick="confirmDelete('@role.Name', true)">Delete</a>
                        </span>
                    </form>
                </div>
            </div>
        }
    </div>
</body>
</html>
@section Scripts {
    <script src="~/js/site.js"></script>
}
@Html.AntiForgeryToken()
